<form name="addTodoForm" novalidate>
	<div id="add-todo-name-form-group" class="mb-3">
		<label for="add-todo-name" class="col-form-label">Name:</label>
		<input type="text" class="form-control" id="add-todo-name" name="name" ng-model="name"
			   placeholder="Enter name for new Todo..." ng-input="validateFormGroup('add-todo-name-form-group')"
			   ng-keypress="($event.keyCode == 13) && submitAction() && $event.preventDefault()" required>
	</div>
	<div class="mb-3">
		<label for="add-todo-description" class="col-form-label">Description:</label>
		<textarea class="form-control" id="add-todo-description" ng-model="description"
				  placeholder="Enter description for new Todo (optional)..."
				  maxlength="{{ descriptionMaxLength }}"></textarea>
		<div class="d-flex justify-content-end">
			<span class="badge badge-pill bg-secondary mt-3">{{ descriptionMaxLength - description.length }}</span>
		</div>
	</div>
	<div class="mb-3">
		<div>
			<label class="col-form-label">Phase:</label>
		</div>
		<div class="mb-2 w-25">
			<select class="form-select" ng-model="phaseSelected">
				<option ng-repeat="phase in phase_labels" ng-value="$index">{{ phase }}</option>
			</select>
		</div>
	</div>
	<div>
		<label class="col-form-label">Actions:</label>
	</div>
	<div>
		<button type="button" class="btn btn-primary" ng-click="submitAction()">Add</button>
		<button type="button" class="btn btn-secondary" ng-click="dismissAction()">Cancel</button>
	</div>
</form>
