<form name="editTodoForm" novalidate>
	<div id="edit-todo-name-form-group" class="mb-3">
		<label for="edit-todo-name" class="col-form-label">Name:</label>
		<input type="text" class="form-control" id="edit-todo-name" name="name" ng-model="name" ng-value="name"
			   placeholder="Change name for this Todo..." ng-input="validateFormGroup('edit-todo-name-form-group')"
			   ng-keypress="($event.keyCode == 13) && submitAction() && $event.preventDefault()"	required>
		<!-- >
		<div ng-show="editTodoForm.name.$touched && editTodoForm.name.$invalid">
			Please provide a name.
		</div>
		<-->
	</div>
	<div class="mb-3">
		<label for="edit-todo-description" class="col-form-label">Description:</label>
		<textarea class="form-control" id="edit-todo-description" ng-model="description" ng-value="description"
				  placeholder="Change description for this Todo..."
				  maxlength="{{ descriptionMaxLength }}"></textarea>
		<div class="d-flex justify-content-end">
			<span class="badge badge-pill bg-secondary mt-3">{{ descriptionMaxLength - description.length }}</span>
		</div>
	</div>
	<div class="mb-3">
		<div>
			<label class="col-form-label">Phase:</label>
		</div>
		<div class="btn-group" role="group">
			<div ng-repeat="phase in phase_labels">
				<input type="radio" class="btn-check" name="edit-todo-phase"
					   id="edit-todo-phase{{ $index }}" ng-model="phaseSelected" value="{{ $index }}" ng-checked="$index == phasePrepared">
				<label class="btn btn-outline-primary" for="edit-todo-phase{{ $index }}">{{ phase }}</label>
			</div>
		</div>
	</div>
	<div>
		<div>
			<label class="col-form-label">Actions:</label>
		</div>
		<div>
			<button type="button" class="btn btn-primary" ng-click="submitAction()">Save</button>
			<button type="button" class="btn btn-secondary" ng-click="dismissAction()">Cancel</button>
			<button type="button" class="btn btn-warning" ng-click="revertAction(true)">Revert</button>
		</div>
	</div>
</form>
