<div class="card border border-primary mb-3" ng-if="isCardValid">
    <div class="card-header">
        <h5 class="card-title">
            <span class="text-muted" data-toggle="tooltip" data-placement="bottom" title="Todo ID">#{{ id2 }}</span>
            <span data-toggle="tooltip" data-placement="bottom" title="Todo name">{{ name }}</span>
        </h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item rounded border border-secondary" ng-if="descriptionLength"
                    data-toggle="tooltip" data-placement="bottom" title="Todo description">
                <p class="card-text">{{ description }}</p>
            </li>
            <li class="list-group-item" ng-if="showDescriptionLength">
                <p class="card-text">Description length: {{ descriptionLength }}</p>
            </li>
            <li class="list-group-item">
                <ul class="list-group border border-primary"
                        data-toggle="tooltip" data-placement="bottom" title="Task list">
                    <li class="list-group-item" ng-repeat="task in tasks" ng-if="taskCount">
                        {{ task.name }}
                    </li>
                    <li class="list-group-item" ng-if="!taskCount">
                        <tsz-task-emptiness-indicator></tsz-task-emptiness-indicator>
                    </li>
					<li class="list-group-item border border-primary" ng-if="showTaskCount">
						<p class="card-text">Task count: {{ taskCount }}</p>
					</li>
                </ul>
            </li>
            <li class="list-group-item">
                <tsz-card-toolbar id="{{ id }}" name="{{ name }}"
                        phase="{{ phase }}" phasenum="{{ phasenum }}"></tsz-card-toolbar>
            </li>
        </ul>
    </div>
    <div class="card-footer text-muted">
        <p>Updated {{ datemodified }}</p>
        <p ng-if="showDateCreated">Created {{ datecreated }}</p>
    </div>
</div>
<tsz-card-invalid ng-if="!isCardValid"></tsz-card-invalid>
