<div class="d-flex justify-content-between">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary btn-sm text-end" ng-click="prepareAddTaskModal()"
                    data-toggle="tooltip" data-placement="bottom" title="Add new Task">
            <i class="fas fa-plus"></i>
        </button>
        <button type="button" class="btn btn-primary btn-sm text-end" ng-click="prepareEditTodoModal()"
                    data-toggle="tooltip" data-placement="bottom" title="Edit Todo">
            <i class="fas fa-pencil-alt"></i>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger btn-sm text-end" ng-click="prepareRemoveTodoConfirmModal()"
                    data-toggle="tooltip" data-placement="bottom" title="Remove Todo">
            <i class="fas fa-trash-alt"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm text-end" ng-click="prepareRemoveAllTasksConfirmModal()"
                    data-toggle="tooltip" data-placement="bottom" title="Remove All Tasks">
            <i class="fas fa-broom"></i>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary btn-sm text-end" ng-click="shiftTodoLeft()"
                data-toggle="tooltip" data-placement="bottom" title="Shift Todo to the left"
                ng-disabled="!phaseLeftExists">
            <i class="fas fa-arrow-left"></i></i>
        </button>
        <button type="button" class="btn btn-primary btn-sm text-end" ng-click="shiftTodoRight()"
                data-toggle="tooltip" data-placement="bottom" title="Shift Todo to the right"
                ng-disabled="!phaseRightExists">
            <i class="fas fa-arrow-right"></i></i>
        </button>
    </div>
</div>