<div class="card border border-primary mb-3" ng-if="isCardValid">
    <div class="card-header">
        <h5 class="card-title">
            <span class="text-muted" data-toggle="tooltip" data-placement="bottom" title="Todo ID">#{{ id2 }}</span>
            <span data-toggle="tooltip" data-placement="bottom" title="Todo name">{{ name }}</span>
        </h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item rounded border border-secondary" ng-if="descriptionLength"
                    data-toggle="tooltip" data-placement="bottom" title="Todo description">
                <p class="card-text">{{ description }}</p>
            </li>
            <li class="list-group-item" ng-if="showDescriptionLength">
                <p class="card-text">Description length: {{ descriptionLength }}</p>
            </li>
            <li class="list-group-item">
                <ul class="list-group border border-primary"
                        data-toggle="tooltip" data-placement="bottom" title="Task list">
                    <li class="list-group-item" ng-repeat="task in tasks" ng-if="taskCount">
                        {{ task.name }}
                    </li>
                    <li class="list-group-item" ng-if="!taskCount">
                        <tsz-task-emptiness-indicator></tsz-task-emptiness-indicator>
                    </li>
					<li class="list-group-item border border-primary" ng-if="showTaskCount">
						<p class="card-text">Task count: {{ taskCount }}</p>
					</li>
                </ul>
            </li>
            <li class="list-group-item">
				<div class="d-flex justify-content-between">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary btn-sm text-end" ng-click="prepareAddTaskModal()"
								data-toggle="tooltip" data-placement="bottom" title="Add new Task">
							<i class="fas fa-plus"></i>
						</button>
						<button type="button" class="btn btn-primary btn-sm text-end" ng-click="prepareEditTodoModal()"
								data-toggle="tooltip" data-placement="bottom" title="Edit Todo">
							<i class="fas fa-pencil-alt"></i>
						</button>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-danger btn-sm text-end" ng-click="prepareRemoveTodoConfirmModal()"
								data-toggle="tooltip" data-placement="bottom" title="Remove Todo">
							<i class="fas fa-trash-alt"></i>
						</button>
						<button type="button" class="btn btn-danger btn-sm text-end" ng-click="prepareRemoveAllTasksConfirmModal()"
								data-toggle="tooltip" data-placement="bottom" title="Remove All Tasks">
							<i class="fas fa-broom"></i>
						</button>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary btn-sm text-end" ng-click="shiftTodoLeft()"
								data-toggle="tooltip" data-placement="bottom" title="Shift Todo to the left"
								ng-disabled="!phaseLeftExists">
							<i class="fas fa-arrow-left"></i></i>
						</button>
						<button type="button" class="btn btn-primary btn-sm text-end" ng-click="shiftTodoRight()"
								data-toggle="tooltip" data-placement="bottom" title="Shift Todo to the right"
								ng-disabled="!phaseRightExists">
							<i class="fas fa-arrow-right"></i></i>
						</button>
					</div>
				</div>
			</li>
        </ul>
    </div>
    <div class="card-footer text-muted">
        <p>Updated {{ datemodified }}</p>
        <p ng-if="showDateCreated">Created {{ datecreated }}</p>
    </div>
</div>
<tsz-card-invalid ng-if="!isCardValid"></tsz-card-invalid>
